<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ############### 配置消息生产者 ############### -->
    <bean id="mqProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer"
          init-method="start"
          destroy-method="shutdown">
        <!-- 设置nameserver连接地址 -->
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <!-- 设置生产者的组名 -->
        <property name="producerGroup" value="ITEM_PRODUCER"/>
    </bean>

</beans>