<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1. 配置Shiro过滤器工厂(拦截所有的请求) -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 1.1 设置安全管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 1.2 配置过滤器  -->
        <property name="filters">
            <map>
                <!-- 1.2.1 配置安全过滤器，拦截需要登录的请求URL -->
                <entry key="security">
                    <bean class="io.buji.pac4j.filter.SecurityFilter">
                        <!-- 设置配置信息 -->
                        <property name="config" ref="config"/>
                    </bean>
                </entry>
                <!-- 1.2.2 配置回调过滤器，拦截ticket验证的请求URL(CAS服务端登录成功后，重向定回来需要进入的过滤器) -->
                <entry key="callback">
                    <bean class="io.buji.pac4j.filter.CallbackFilter">
                        <!-- 设置配置信息 -->
                        <property name="config" ref="config"/>
                    </bean>
                </entry>
                <!-- 1.2.2 退出过滤器，拦截需要退出的请求URL -->
                <entry key="logout">
                    <bean class="io.buji.pac4j.filter.LogoutFilter">
                        <!-- 设置配置信息 -->
                        <property name="config" ref="config"/>
                        <!-- CAS服务端退出 -->
                        <property name="centralLogout" value="true"/>
                        <!-- 本地退出 -->
                        <property name="localLogout" value="true"/>
                        <!-- 退出后，需要重定向的URL -->
                        <property name="defaultUrl" value="http://www.pinyougou.com/"/>
                    </bean>
                </entry>
            </map>
        </property>
        <!-- 1.3 设置过滤器链(从上而下)
            1．user: 过滤器只要用户登录 (isRemembered()==true or isAuthenticated()==true)即可访问成功
            2．authc: 过滤器只要用户登录isAuthenticated()==true即可访问成功
            3．anon : 匿名访问，不需要登录
            4．logout : 安全退出
        -->
        <property name="filterChainDefinitions">
            <value>
                /css/** = anon
                /img/** = anon
                /js/** = anon
                /plugins/** = anon
                /register.html = anon
                /user/save = anon
                /user/sendSmsCode = anon

                /callback = callback
                /logout = logout
                /** = security
            </value>
        </property>
    </bean>

    <!-- 配置信息对象 -->
    <bean id="config" class="org.pac4j.core.config.Config">
        <!-- 配置cas作为客户端 -->
        <constructor-arg name="client" ref="casClient"/>
    </bean>
    <!-- 配置cas客户端 -->
    <bean id="casClient" class="org.pac4j.cas.client.CasClient">
        <!-- 配置cas配置信息 -->
        <property name="configuration" ref="casConfiguration"/>
        <!-- 设置登录成功后，重定向回去的URL -->
        <property name="callbackUrl" value="http://user.pinyougou.com/callback"/>
        <!-- 设置客户端的名称：CasClient -->
        <property name="name" value="CasClient"/>
    </bean>
    <!-- 配置casConfiguration -->
    <bean id="casConfiguration" class="org.pac4j.cas.config.CasConfiguration">
        <!-- 设置CAS服务端登录请求URL -->
        <property name="loginUrl" value="http://sso.pinyougou.com/login/"/>
        <!-- 设置CAS服务端请求URL前缀 -->
        <property name="prefixUrl" value="http://sso.pinyougou.com/"/>
    </bean>


    <!-- 2. 配置安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 设置认证域 -->
        <property name="realm" ref="pac4jRealm"/>
    </bean>

    <!-- 3. 配置自定义认证域 -->
    <bean id="pac4jRealm" class="com.pinyougou.user.realm.CasPac4jRealm"/>

</beans>