<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/elasticsearch
       http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd">


    <context:property-placeholder location="classpath*:props/*.properties"/>
    <!-- 导入数据库访问的配置文件 -->
    <import resource="classpath:applicationContext-mapper.xml"/>

    <!-- 开启组件扫描 -->
    <context:component-scan base-package="com.pinyougou.es"/>


    <!-- ########## 配置整合Spring-Data-Elasticsearch ########### -->
    <!-- 2. 配置ES传输客户端对象
        cluster-nodes: 集群节点
         cluster-name: 集群名称
     -->
    <elasticsearch:transport-client id="client"
                                    cluster-nodes="192.168.12.131:9300"
                                    cluster-name="elasticsearch"/>

    <!-- 1. 配置ElasticsearchTemplate对象(操作ES服务) -->
    <bean id="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <!-- 设置ES传输客户端对象 -->
        <constructor-arg name="client" ref="client"/>
    </bean>

    <!-- 3. 配置索引库数据访问接口，采用包扫描 -->
    <elasticsearch:repositories base-package="com.pinyougou.es.dao"/>

</beans>